autowoe==1.2.5
catboost==0.26.1
ipykernel==6.4.1
ipython==7.27.0
ipywidgets==7.6.5
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyterlab==3.1.13
lightautoml==0.2.16
lightgbm==2.3.1
matplotlib==3.4.3
nbclient==0.5.4
nbconvert==6.1.0
notebook==6.4.4
numba==0.54.0
numpy==1.20.3
optuna==2.9.1
pandas==1.3.3
pygeohash==1.2.0
requests==2.26.0
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
shap==0.39.0
torch==1.8.1
tqdm==4.62.3
